@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Nanum+Pen+Script&display=swap');
#content{
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    background-color: #fefae0;
    height: 1900px;
}
header{
    display: grid;
    grid-template-columns: 150px auto 300px;
    background-color: #bc6c25;
    justify-self: center;
    align-self: center;
    width: 100%;
}
#logo{
    width: 130px;
    height: 130px;
    padding-top: 20px;
    justify-self: center;
    align-self: center;
}
.logo1{
    height: 60%;
}
/* The sidebar menu*/
nav a{
    font-family: Chewy;
    font-size: 1.4em;
    color: #fefae0;
    margin: 20px;
    display: inline-block;
    justify-content: space-around;
    margin-top: 30px;
}
nav :hover{
    background-color: #606c38;
}
#form{
    display: inline-block;
    margin-top: 30px;
    width: 100%;
}
#hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    width: 100%;
}
#hero-img{
    grid-column: 1/2;
    margin: 0 auto;
    width: 100%;
}
#hero-img img{
    height: 600px;
    width: 100%;
}
#hero-msg{
    grid-column: 2/3;
    background-color: #283618;
    font-family: Nanum+Pen+Script;
    font-size: 3em;
    color: #d59d62;
    padding: 10px;
    height: 580px;
    width: 100%;
}
.line-up{
    padding: 10px;
    margin-top: -500px;
}
.h2{
    font-size: 3em;
    font-family: Chewy;
    color: #283618;
    margin-top: 600px;
}
.line-up-list p{
    font-size: 3em;
}
.line-up-list li{
    text-transform: capitalize;
    font-weight: bold;
}
.line-up-img{
    display: inline;
    padding: 100px;
    margin-top: -50px;
    height: 480px;
    width: 100%;
}
.background-sub{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
#background{
    height: 800px;
}
.styles{
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}
#background{
    background-color: #d59d62;
    grid-column: 1/11;
    grid-row: 4/9;
}
.msg{
    background-color: #606c38;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg p{
    font-size: 1em;
    padding-bottom: 15px;
    color: #d59d62;
}
footer{
    background-color: #bc6c25;
    text-decoration: none;
    padding: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    margin-top: -10px;
}
footer p, a{
    font-size: 1.2em;
    color: rgb(202, 198, 198);
}
footer p a:hover {
   text-decoration: underline;
   border-color: #606c38;
}
footer .social img{
    padding-top: 15px;
}
.logo, .icon{
    width: 100px;
}
.icon{
    padding-top: 10px;
}

/*About Us*/
.hero-middle h3{
    font-family: Chewy;
    font-size: 7em;
    color: #606c38;
    text-align: center;
    margin-top: -300px;
}
#hero3-img{
    width: 100%;
    height: 700px;
}
/*contact*/
#con{
    margin-top: 10px;
    display: block;
    font-size: 2em;
}
#hero4-img{
    width: 100%;
    height: 700px;
    margin-top: 500px;
}
.con1{
    margin-top: -900px;
    text-align: center;
}
#form{
    padding: 15px;
    text-align: center;
}